body {
  line-height:140%;
  position: relative;
}

header h1 {
  font-size:65px;
  background-color:#876;
  padding:50px 60px;
  border-bottom: 3px solid #000;
 
}

.searchFields {
  position: absolute;
  top: 190px;
  left: 40px;
  background-color:#456;
  padding: 20px;
  border:3px solid #000;
  color:#fff;
}

.search {
  position: absolute;
  top: 190px;
  left: 40px;
  background-color:#456;
  padding: 20px;
  border:3px solid #000;
  color:#fff;
}

.addbook  {
  position: absolute;
  top: 140px;
  left: 40px;
  width:30px;
  height: 30px;
  background-color:#456;
  padding: 10px 30px;
  border:3px solid #000;
  border-bottom: 0px solid #456;
  color:#fff;
}

input {
  width: 250px;
  height: 25px;
  margin-left: 0;
  margin-bottom: 15px;
}

.resultWindow {
  background-color: #abc;
  height: 475px;
  width: 500px;
  margin-left: 400px;
  margin-top: 1px;
}

.customerResult {
  display: none;
}

.manualBox {
  display: block;
  margin-top: 100px;
  width: 250px;
  background-color: #678;
  text-align: center;
}

.manualBox input {
  width: 170px;
}

.boom {
  font-weight: bold;
}

ul div {
  position: absolute;
  top: 145px;
  left: 40px;
  /*border: 2px solid red;*/
  list-style: none;
  z-index: 10;
}

.topTabs li {
  display: inline-block;
  border:3px solid #000;
  border-bottom: none;
  background-color:#456;
}

.topTabs li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}

.topTabs li a:hover {
  background-color: #abc;
  text-shadow: 2px 2px 2px #000;
  color: #fff;
}

.topTabs li a:hover {
  background-color: yellow;
}

li a#searchTab {
  background-color: red;
}