body {
  line-height:140%;
  position: relative;
}

header h1 {
  font-size:65px;
  background-color:#876;
  padding:50px 60px;
  border-bottom: 3px solid #000;
}

.resultWindow .p1:nth-child(even) {
  background-color: lightblue;
}

.inputFields, .searchFields, .showmodPrice, .reportFields {
  position: absolute;
  top: 190px;
  left: 40px;
  background-color:#456;
  padding: 19px;
  border:3px solid #000;
  color:#fff;
}

.tabWindows section:not(.inputFields) {
display: none;
}

/*.searchFields {
  position: absolute;
  top: 190px;
  left: 40px;
  background-color:#456;
  padding: 20px;
  border:3px solid #000;
  color:#fff;
}*/

.customerSearch {
  position: absolute;
  top: 190px;
  left: 40px;
  background-color:#456;
  padding: 20px;
  border:3px solid #000;
  color:#fff;
}

.customerSearch h2, .customerSearch form {
  padding: 5px;
}


.inputFields input , .searchFields input , .customerField{
  width: 250px;
  height: 25px;
  margin-left: 0;
  margin-bottom: 15px;
}

.resultWindow {
  background-color: #abc;
  height: 475px;
  width: 700px;
  margin-left: 500px;
  margin-top: 68px;
}

.customerResult {
  display: none;
}

.exe {
  cursor: pointer;
  font-weight: bold;
}

ul div {
  position: absolute;
  top: 145px;
  left: 40px;
  list-style: none;
  z-index: 10;
}

.activated {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #000;
  border-bottom: 3px solid #456;
  background-color:#456;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}

.notactivated {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #555;
  border-bottom: 0 ;
  background-color:#678;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}

.notactivated:hover {
   background-color:#567;
}

b {
  font-weight: bold;
}

.input {
  position: absolute;
  top: 0;
  left:0;
}

.sell{
  position: absolute;
  top: 1;
  left: 87px;
}

b {
  font-weight: bold;
}

.modPrice {
  position: absolute;
  top: 1;
  left: 161px;
}

.report {
  position: absolute;
  top: 1;
  left: 280px;
}

.inputForm {
  margin: 35px;
}

.p1 {
  font-size: 18px;
}

.searchForm {
  padding: 35px;
}
