body {
  line-height:140%;
  position: relative;
  background: url('../img/woodBooks.jpg') no-repeat center center fixed;
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}

/*Right img in header*/
.booksInRow {
  position: absolute;
  display: inline-block;
  width: 356px;
  right: 0;
  padding: 0 3px;
}

/*Left img in header*/
.bookStoreLogoII {
  display: inline-block;
  width: 350px;
  z-index: 10;
}

/*Header*/
.topNavBar {
  background-color:#876;
  padding:10px 0 0 10px;
  border-bottom: 2px solid #000;
}

/*Every other child in resultbox has a different color*/
.resultWindow .p1:nth-child(even) {
  background-color: #789;
}

/*Positions of the tab content boxes*/
.inputFields, .searchFields, .showmodPrice, .reportFields {
  position: absolute;
  top: 190px;
  left: 40px;
  width: 400px;
  background-color:#456;
  padding: 19px;
  border:3px solid #000;
  color:#fff;
}

/*To start with, .inputfields is the only one of the content boxes that displays*/
.tabWindows section:not(.inputFields) {
  display: none;
}

/*Link to the other page in the project*/
.customlink h3:hover {
  color:#fff;
  text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa;
}

/*All inputs of type: text+number*/
input[type="text"], input[type="number"] {
  width: 250px;
  height: 25px;
  margin-left: 0;
  margin-bottom: 15px;
}

/*Div that prints result/answer to an interaction*/
.resultWindow {
  background-color: #89a;
  min-height: 80px;
  width: 640px;
  margin-left: 550px;
  margin-top: 121px;
  box-shadow: 0 0 30px  8px  #000;
  padding: 55px 0 10px 0;
}

/*Styling for different buttons*/
.exe, .updateButton {
  cursor: pointer;
  font-weight: bold;
}

/*Styling for the sell-tab-button*/
.sellbutton{
  cursor: pointer;
  font-weight: bold;
  margin-left: 0;
  margin-top:20px;
}

/*Styles all div's inside of an ul*/
ul div {
  position: absolute;
  top: 145px;
  left: 40px;
  list-style: none;
  z-index: 10;
}

/*In js we add this to the current tab*/
.activated {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #000;
  border-bottom: 3px solid #456;
  background-color:#456;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}

/*In js we add this to all tabs you're not currently at*/
.notactivated {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #282828;
  border-bottom: 0 ;
  background-color:#678;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  text-shadow: 2px 2px 2px #000;
}

.notactivated:hover {
   background-color:#567;
}

/*Added to some of the text*/
b {
  font-weight: bold;
}


.input {
  position: absolute;
  top: 0;
  left:0;
}

.sell{
  position: absolute;
  top: 1;
  left: 87px;
}

.modPrice {
  position: absolute;
  top: 1;
  left: 161px;
}

.report {
  position: absolute;
  top: 1;
  left: 278px;
}

form {
  padding: 35px;
}

.p1 {
  font-size: 18px;
  padding: 5px 12px;
}

.modFields button {
  margin-top: 10px;
}

.modFields input, .reportFields button {
  display: inline-block;
}

em {
  text-decoration: underline;
  font-size:20px;
  font-weight: bold;
  color:#642;

}

.error {
  margin-left:20px;
  padding-top:5px;
  color:#b33;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  margin:10px 0 0 0;
  font-weight: bold;
  font-size: 20px;
  color:#000;
}


.CheckISBNforReport *, .getReport * {
  display: block;
  margin: 5px;
}

.reportButton {
  margin-bottom: 20px;
}

.transform {
  -webkit-animation-name:inputText;
  -webkit-animation-duration:1s;
}

@-webkit-keyframes inputText {
  from{-webkit-transform:translateY(-160px);}
  to{-webkit-transform:translateY(0px)}
}

.CheckISBNforReport {
  margin-bottom: 15px;
}

 .result-h2 {
  position:absolute;
  z-index: 2;
  width: 620px;
  margin-left: 550px;
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: #567;
  padding: 10px 10px 0 10px;
  text-shadow: 1px 1px 1px #404040;
}

#transportISBN {
  display: none;
}

.redInput {
  background-color:#b33;
}

.check {
  display:block;
  float:right;
  color: #070;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 15px #0f0;  
}
.clearfix {
  clear: both;
}

.reportDiv {
  width: 99vw;
  height: 85vh;
  background-color: #ffffb2;
  display: none;
  position: relative;
  z-index: 20;
}

.closeReport {
  float: right;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}

.minusBooklist {
  margin-top: -60px;
}

.amountU {
  cursor: pointer;
}

.menu {
  display: block;
  position: absolute;
  margin-top: -70px;
}

.customlink h3 {
  padding: 10px;
  color:#fff;
  text-shadow: 2px 3px 3px #000;
  color: #ffffff;
}

.option {
    margin-top: 124px;
    margin-left: 313px;
}

.option input {
  cursor: pointer;
  margin-bottom: 0px;
  background-color: #afa;
}

.glass {
  float:right;
  min-height: 65px;
  min-width: 20px;
  margin: 20px 10px ;
  box-shadow: 0 0 30px  8px  #000;
}

#reportResult {
  padding-top: 20px;
}

#reportResult h3 {
  display: inline;
  padding: 5px;
}

#totalTotal {
  margin-left: 600px;
}

/*Section for the customer to enter data in customerhelp.html*/
.customerSearch {
  position: absolute;
  top: 253px;
  left: 40px;
  background-color:#456;
  padding: 20px;
  border:3px solid #000;
  color:#fff;
}

/*In the box in the customerhelp.html*/
.customerSearch h2, .customerSearch form {
  padding: 5px;
}

/*Box that shows the result of the customer search*/
.customerResult {
  margin-left: 620px;
}